/* importing fonts */
@font-face {
    font-family: 'PlusJakartaSansBold';
    src: url('assets/fonts/PlusJakartaSans-Bold.ttf')
}


@font-face {
    font-family: 'PlusJakartaSansMedium';
    src: url('assets/fonts/PlusJakartaSans-Medium.ttf');
}



/* defining variables to allow for re-use */
:root {
    --black_col: #030303;
    --medium_brown_col: #7A746E;
    --light_cream_col: #FFF7F0;
    --galactic_blue_col: #755CDE;
    --summer_yellow_col: #F6A560;
    --pink_col: #F39E9E;
    --light_red_col: #EB7565;
    --cyan_col: #61C4B7;
    --dark_purple: #552049;
    --white: #FFFFFF;
    --light_cream_col: #FFF7F0;
}



/* resets */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    font-size: 16px;
    /* overflow: hidden; */
}


body {
    background-color: var(--light_cream_col);
    width: 100%;
    /* background-color: chartreuse; */
    /* overflow-x: hidden; */
    /* padding-top: 2rem; */
}


.parent_container {
    max-width: 90rem;
    margin: 1rem auto;
    /* background-color: red; */
    /* max-height: 162rem; */
    /* background-color: chartreuse; */

}


.logo_consultation_btn_section {
    width: 69.43rem;
    margin: 2.21rem auto 4.125rem auto;
    display: flex;
    justify-content: space-between;
}


.site_logo {
    width: 4rem;
    height: 4rem;
}


.logo_free_consultation_text {
    font-family: 'PlusJakartaSansBold';
    font-size: 1rem;
}


.free_consultation_button_black {
    all: unset;
    width: 14rem;
    height: 4rem;
    background-color: var(--black_col);
    color: #FFF7F0;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
}


.title_section {
    width: 47rem;
    height: 9rem;
    text-align: center;
    margin: 0 auto 5rem auto;
    /* background-color: red; */
}


.design_solutions_text {
    font-family: 'PlusJakartaSansBold', sans-serif;
    font-size: 3rem;
    line-height: auto;
    letter-spacing: 0rem;
    margin-bottom: 1rem

}


.experience_text {
    font-family: 'PlusJakartaSansMedium', sans-serif;
    font-size: 1rem;
    color: var(--medium_brown_col);
    width: 80%;
    margin: 0 auto;
    line-height: 2rem;
    letter-spacing: 1px;
}


.grid_items_section {
    width: 69rem;
    /* margin: 0 10rem 8rem 10rem; */
    margin: 0 auto 8rem auto;
    height: 23rem;
    display: grid;
    grid-template-columns: repeat(3, 22rem);
    gap: 2rem;

}


.grid_item {
    border-radius: 0.6rem;
    padding: 1.5rem;
}


.grid_item_text {
    font-family: 'PlusJakartaSansBold', sans-serif;
    color: var(--white);
    font-size: 1.4rem;
    align-self: end;

}


.graphic_design_div {
    background-color: var(--galactic_blue_col);
    width: 22.1rem;
    grid-row: 1 / 3;
    display: flex;

}


.ui_ux_apps_div {
    width: 22.1rem;
    height: 10.2rem;
    display: flex;
    justify-content: space-between;

}


.ui_ux_div {
    background-color: var(--summer_yellow_col);
    width: 10.25rem;
    height: 11.4rem;
    display: flex;

}


.apps_div {
    background-color: var(--pink_col);
    width: 10.25rem;
    height: 11.4rem;
    display: flex;

}


.photography_div {
    background-color: var(--cyan_col);
    width: 22.1rem;
    height: 11.4rem;
    display: flex;
}


.illustrations_div {
    background-color: var(--light_red_col);
    width: 22.1rem;
    height: 9.8rem;
    display: flex;

}


.motion_graphics_div {
    background-color: var(--dark_purple);
    width: 22.1rem;
    height: 9.8rem;
    display: flex;

}



/* grid items images */
.graphic_design_image {
    width: 8rem;
    height: 12rem;
}


.photography_design_image {
    width: 10rem;
    height: 4rem;
}


.illustration_design_image {
    width: 8rem;
    height: 4rem;
}


.motion_graphic_design_image {
    width: 8rem;
    height: 4rem;

}


.ui_ux_design_image {
    width: 4rem;
    height: 4rem;
}


.apps_design_image {
    width: 4rem;
    height: 4rem;
}




.amy_about_section {
    width: 69.4rem;
    height: 27.8rem;
    /* margin: 0 10.3rem 5rem 10.3rem; */
    margin: 0 auto 5rem auto;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}


.amy_profile_image {
    width: 27.8rem;
    height: 27.8rem;
}


.amy_intro_text_div {
    align-self: center;
    width: 33.75rem;
    height: 19.1rem;
}


.amy_intro_text {
    font-family: 'PlusJakartaSansBold', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2.1;
    line-height: auto;
    letter-spacing: 0rem;

}


.amy_experience_text {
    font-family: 'PlusJakartaSansMedium', sans-serif;
    color: var(--medium_brown_col);
    font-size: 1.1rem;
    margin-bottom: 2rem;
    line-height: 1.8rem;
}


.free_consultation_div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.1rem;
    background-color: var(--light_red_col);
    color: var(--white);
    width: 14.25rem;
    height: 3.5rem;
    align-self: center;
}


.amy_into_free_consultation_text {
    font-family: 'PlusJakartaSansBold', sans-serif;
    font-size: 1rem;
}


.my_work_section {
    width: 100%;
    overflow: hidden;
}

.my_work_header {
    font-family: 'PlusJakartaSansBold', sans-serif;
    text-align: center;
    margin-bottom: 3.5rem;    
    font-size: 2rem;
}


.work_display_carousal_div {
    display: flex;
    gap: 1.9rem;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    margin-bottom: 2.5rem;
}


.image_slide {
    width: 33.8rem;
    height: 22.5rem;
    flex-shrink: 0;
}


.scroll_arrows_div {
    display: flex;
    justify-content: space-between;
    width: 9rem;
    height: 4rem;
    margin: 0 auto;
    margin-bottom: 6rem;
}


.scroll_icon_wrapper {
    background-color: var(--black_col);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}


.left_arrow_icon {
    width: 1rem;
    height: 1rem;
}


.right_arrow_icon {
    width: 1rem;
    height: 1rem;
}


.free_consultation_text {
    font-size: 1rem;
}


.book_call_section {
    max-width: 69.375rem;
    height: 20rem;
    border-radius: 0.625rem;
    margin: 0 auto;
    background-color: var(--black_col);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.book_call_and_discuss_div {
    max-width: 33.75rem;
    height: 9.938rem;
}


.book_call_and_discuss_div h3 {
    font-size: 2.5rem;
    color: var(--light_cream_col);
    font-family: 'PlusJakartaSansBold', sans-serif;
    margin-bottom: 1.563rem;
}


.book_call_and_discuss_div p {
    color: var(--light_cream_col);
    font-size: 1.125rem;
    font-family: 'PlusJakartaSansMedium', sans-serif;
}


.free_consultation_button_light_red {
    all: unset;
    background-color: var(--light_red_col);
    color: var(--white);
    font-size: 1rem;
    line-height: 1.75rem;
    width: 14.25rem;
    height: 3.5rem;
    border-radius: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;

}


.free_consultation_button_light_red p {
    font-size: 1rem;
    font-family: 'PlusJakartaSansBold', sans-serif;
    line-height: 1.75rem;
}







/* working on responsiveness
tablet responsiveness */
@media ( max-width: 1024px ) {
    .parent_container {
        max-width: 48rem;
        margin: 1rem auto;
        /* max-height: 172.6rem; */
        /* overflow-x: hidden; */
        /* background-color: chartreuse; */
    }
    
    .logo_consultation_btn_section {
        width: 43rem;
        height: 4rem;
        margin: 0 auto 4rem auto;
        display: flex;
        justify-content: space-between;
    }


    .site_logo {
        width: 4rem;
        height: 4rem;
    }


    .free_consultation_div_logo {
        width: 14rem;
        height: 3.5rem;
        background-color: var(--black_col);
        color: #FFF7F0;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: end;
    }


    .title_section {
        width: 43rem;
        height: 8.7rem;
        text-align: center;
        margin: 0 auto 5rem auto;
    }


    .grid_items_section {
        width: 43.1rem;
        margin: 0 auto 8rem auto;
        height: 35.6rem;
        display: grid;
        grid-template-columns: repeat(2, 20.8rem);
        gap: 1.5rem;
    
    }


    .graphic_design_div {
        background-color: var(--galactic_blue_col);
        width: 20.8rem;
        grid-row: 1 / 3;
        display: flex;
    
    }


    .ui_ux_apps_div {
        width: 20.8rem;
        height: 11.3rem;
        display: flex;
        justify-content: space-between;
    
    }

    
    .ui_ux_div {
        background-color: var(--summer_yellow_col);
        width: 9.68rem;
        height: 11.37rem;
        display: flex;
    
    }
    
    
    .apps_div {
        background-color: var(--pink_col);
        width: 9.68rem;
        height: 11.37rem;
        display: flex;
    
    }
    


    .photography_div {
        background-color: var(--cyan_col);
        width: 20.8rem;
        height: 11.4rem;
        display: flex;
    }
    
    
    .illustrations_div {
        background-color: var(--light_red_col);
        width: 20.8rem;
        height: 9.8rem;
        display: flex;
    
    }
    
    
    .motion_graphics_div {
        background-color: var(--dark_purple);
        width: 20.8rem;
        height: 9.8rem;
        display: flex;
    
    }


    .amy_about_section {
        width: 43.125rem;
        height: 22.75rem;
        margin: 0 auto 7.5rem auto;
        display: flex;
        justify-content: space-between;

    }


    .amy_profile_image {
        width: 21rem;
        height: 22.75rem;
    }


    .amy_intro_text_div {
        align-self: center;
        width: 20rem;
        height: 22.75rem;
    }


    .amy_intro_text {
        font-family: 'PlusJakartaSansBold', sans-serif;
        font-size: 2rem;
        margin-bottom: 1.5rem;
        line-height: auto;
        letter-spacing: 0rem;
    
    }


    .amy_experience_text {
        font-family: 'PlusJakartaSansMedium', sans-serif;
        color: var(--medium_brown_col);
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
        line-height: 1.6rem;
    }


    .free_consultation_div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3.1rem;
        background-color: var(--light_red_col);
        color: var(--white);
        width: 14rem;
        height: 3rem;
        align-self: center;
    }
    

    .my_work_section {
        width: 48rem;
        overflow: hidden;
    }


    .my_work_header {
        font-family: 'PlusJakartaSansBold', sans-serif;
        text-align: center;
        margin-bottom: 2rem;    
        font-size: 2rem;
    }


    .work_display_carousal_div {
        display: flex;
        gap: 1.9rem;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
        margin-bottom: 2.5rem;
    }


    .image_slide {
        width: 33.7rem;
        height: 22rem;
        flex-shrink: 0;
    }
    

    .scroll_arrows_div {
        display: flex;
        justify-content: space-between;
        width: 9rem;
        height: 4rem;
        margin: 0 auto;
        margin-bottom: 7.5rem;
    }
    

    .book_call_section {
        max-width: 43.125rem;
        height: 22rem;
        border-radius: 0.625rem;
        margin: 0 auto 3.5rem auto;
        background-color: var(--black_col);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    
    .book_call_and_discuss_div {
        max-width: 33.75rem;
        height: 9.375rem;
    }
    
    
    .book_call_and_discuss_div h3 {
        font-size: 2rem;
        color: var(--light_cream_col);
        font-family: 'PlusJakartaSansBold', sans-serif;
        margin-bottom: 1.625rem;
        text-align: center;
    }
    
    
    .book_call_and_discuss_div p {
        color: var(--light_cream_col);
        font-size: 1.125rem;
        font-family: 'PlusJakartaSansMedium', sans-serif;
    }
    
    
    .free_consultation_button_light_red {
        all: unset;
        background-color: var(--light_red_col);
        color: var(--white);
        font-size: 1rem;
        line-height: 1.75rem;
        width: 14.25rem;
        height: 3.5rem;
        border-radius: 1.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    
    .free_consultation_button_light_red p {
        font-size: 1rem;
        font-family: 'PlusJakartaSansBold', sans-serif;
        line-height: 1.75rem;
    }
    
}







/* mobile responsiveness */
@media ( max-width: 768px ) {


    .parent_container {
        max-width: 23.45rem;
        min-width: 18rem;
        overflow: hidden;
        margin: 1rem auto;
    
    }


    .logo_consultation_btn_section {
        width: 21.43rem;
        margin: 1rem auto 2rem auto;
    }


    .site_logo {
        width: 3rem;
        height: 3rem;
    }


    .free_consultation_div_logo {
        width: 11rem;
        height: 3rem;
        background-color: var(--black_col);
        color: #FFF7F0;
        border-radius: 1.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: start;
    }


    .logo_free_consultation_text {
        font-family: 'PlusJakartaSansBold';
        font-size: 0.87rem;
    }

    .title_section {
        width: 21.483rem;
        height: 13.125rem;
        text-align: center;
        margin: 0 auto 2rem auto;
    }

    .design_solutions_text {
        font-family: 'PlusJakartaSansBold', sans-serif;
        font-size: 2.25rem;
        line-height: auto;
        letter-spacing: 0rem;
        margin-bottom: 1rem
    
    }
    

    .experience_text {
        font-family: 'PlusJakartaSansMedium', sans-serif;
        font-size: 1rem;
        color: var(--medium_brown_col);
        width: 75%;
        margin: 0 auto;
        line-height: 1.625rem;
        letter-spacing: 1px;
    }
    

    .grid_items_section {
        max-width: 21.413rem;
        margin: 0 auto 8rem auto;
        height: 72.75rem;
        display: grid;
        grid-template-columns: repeat(1, 21.375rem);
        gap: 2rem;
    
    }


    .graphic_design_div {
        background-color: var(--galactic_blue_col);
        max-width: 21.413rem;
        height: 22.75rem;
        grid-row: 1 / 3;
        display: flex;
    }


    .ui_ux_apps_div {
        max-width: 21.413rem;
        height: 11.375rem;
        display: flex;
        justify-content: space-between;
    
    }
    
    
    .ui_ux_div {
        background-color: var(--summer_yellow_col);
        width: 9.938rem;
        height: 11.375rem;
        display: flex;
    
    }
    
    
    .apps_div {
        background-color: var(--pink_col);
        width: 9.938rem;
        height: 11.375rem;
        display: flex;
    
    }
    

    .photography_div {
        background-color: var(--cyan_col);
        max-width: 21.413rem;
        height: 11.375rem;
        display: flex;
    }
    
    
    .illustrations_div {
        background-color: var(--light_red_col);
        max-width: 21.413rem;
        height: 11.375rem;
        display: flex;
    
    }
    
    
    .motion_graphics_div {
        background-color: var(--dark_purple);
        max-width: 21.413rem;
        height: 11.375rem;
        display: flex;
    
    }

    .grid_item_text {
        font-size: 1.5rem;
    }


    /* grid items images */
    .graphic_design_image {
        width: 7rem;
        height: 10rem;
    }


    .photography_design_image {
        width: 10rem;
        height: 4rem;
    }


    .illustration_design_image {
        width: 8rem;
        height: 4rem;
    }


    .motion_graphic_design_image {
        width: 8rem;
        height: 4rem;

    }


    .ui_ux_design_image {
        width: 4rem;
        height: 4rem;
    }


    .apps_design_image {
        width: 4rem;
        height: 4rem;
    }


    .amy_about_section {
        width: 21.438rem;
        height: 37.625rem;
        margin: 0 auto 6.25rem auto;
        display: flex;
        flex-direction: column;
    }


    .amy_profile_image {
        width: 18.75rem;
        height: 18.75rem;
        margin-bottom: 2.5rem;
    }


    .amy_intro_text {
        font-family: 'PlusJakartaSansBold', sans-serif;
        font-size: 1.625rem;
        margin-bottom: 1.5rem;
        line-height: auto;
        letter-spacing: 0rem;
    
    }


    .amy_experience_text {
        font-family: 'PlusJakartaSansMedium', sans-serif;
        color: var(--medium_brown_col);
        font-size: 1rem;
        margin-bottom: 1.5rem;
        line-height: 1.625rem;
    }


    .my_work_section {
        width: 100%;
        overflow: hidden;
    }
    
    .my_work_header {
        font-family: 'PlusJakartaSansBold', sans-serif;
        text-align: center;
        margin-bottom: 3.5rem;    
        font-size: 2rem;

    }
    
    
    .work_display_carousal_div {
        display: flex;
        gap: 1.9rem;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
        margin-bottom: 2.5rem;
    }
    
    
    .image_slide {
        width: 33.8rem;
        height: 22.5rem;
        flex-shrink: 0;
    }
    
    
    .scroll_arrows_div {
        display: flex;
        justify-content: space-between;
        width: 9rem;
        height: 4rem;
        margin: 0 auto;
        margin-bottom: 6rem;
    }
    
    
    .scroll_icon_wrapper {
        background-color: var(--black_col);
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
    }
    
    
    .left_arrow_icon {
        width: 1rem;
        height: 1rem;
    }
    
    
    .right_arrow_icon {
        width: 1rem;
        height: 1rem;
    }    
    

    .book_call_section {
        max-width: 20.375rem;
        height: 22rem;
        border-radius: 0.625rem;
        margin: 0 auto;
        background-color: var(--black_col);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }


    .book_call_and_discuss_div {
        max-width: 18.438rem;
        height: 9.938rem;
    }


    .book_call_and_discuss_div h3 {
        font-size: 1.625rem;
        color: var(--light_cream_col);
        font-family: 'PlusJakartaSansBold', sans-serif;
        margin-bottom: 1.563rem;
        text-align: center;
    }


    .book_call_and_discuss_div p {
        color: var(--light_cream_col);
        font-family: 'PlusJakartaSansMedium', sans-serif;
        font-size: 0.9rem;
        line-height: 1.625rem;
        width: 16rem;
    }


    .free_consultation_button_light_red {
        all: unset;
        background-color: var(--light_red_col);
        color: var(--white);
        font-size: 1rem;
        line-height: 1.75rem;
        width: 11rem;
        height: 2.75rem;
        border-radius: 1.75rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .free_consultation_button_light_red p {
        font-size: 0.875rem;
        font-family: 'PlusJakartaSansBold', sans-serif;
        line-height: 1.75rem;
    }


    .logo_consultation_btn_section {
        max-width: 20.375rem;
        margin: 2.21rem auto 4.125rem auto;
        display: flex;
        justify-content: space-between;
    }


    .free_consultation_button_black {
        all: unset;
        width: 11rem;
        height: 3rem;
        background-color: var(--black_col);
        color: #FFF7F0;
        border-radius: 1.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: start;
        
    }

    
}