/* importing fonts */
@font-face {
    font-family: 'PlusJakartaSansBold';
    src: url('assets/fonts/PlusJakartaSans-Bold.ttf')
}


@font-face {
    font-family: 'PlusJakartaSansMedium';
    src: url('assets/fonts/PlusJakartaSans-Medium.ttf');
}



/* defining variables to allow for re-use */
:root {
    --black_col: #030303;
    --medium_brown_col: #7A746E;
    --light_cream_col: #FFF7F0;
    --galactic_blue_col: #755CDE;
    --summer_yellow_col: #F6A560;
    --pink_col: #F39E9E;
    --light_red_col: #EB7565;
    --cyan_col: #61C4B7;
    --dark_purple: #552049;
    --white: #FFFFFF;
}


/* presets */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


body {
    background-color: var(--light_cream_col);
}


.parent_container {
    max-width: 1440px;
    max-height: 2595px;
}


.logo_consultation_btn_section {
    width: 1111px;
    height: 64px;
    margin-top: 34px;
    margin-left: 165px;
    margin-right: 164px;
    margin-bottom: 66px;
    display: flex;
    justify-content: space-between;
}


.site_logo {
    width: 64px;
    height: 64px
}


.logo_free_consultation_text {
    font-family: 'PlusJakartaSansBold';
    font-size: 16px;
}


.free_consultation_div_logo {
    width: 228px;
    height: 56px;
    background-color: var(--black_col);
    color: #FFF7F0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
}


.title_section {
    width: 752px;
    height: 150px;
    text-align: center;
    margin: 0 auto 80px auto;
}


.design_solutions_text {
    font-family: 'PlusJakartaSansBold', sans-serif;
    font-size: 56px;
    line-height: auto;
    letter-spacing: 0px;
    margin-bottom: 23px

}


.experience_text {
    font-family: 'PlusJakartaSansMedium', sans-serif;
    font-size: 18px;
    color: var(--medium_brown_col);
    width: 80%;
    margin: 0 auto;
    line-height: 28px;
    letter-spacing: 1px;
}


.grid_items_section {
    width: 1111px;
    margin: 0 165px 136px 165px;
    height: 364px;
    display: grid;
    grid-template-columns: repeat(3, 354px);
    gap: 24px;

}


.grid_item {
    border-radius: 10px;
    padding: 24px;
}


.grid_item_text {
    font-family: 'PlusJakartaSansBold', sans-serif;
    color: var(--white);
    font-size: 22px;
    align-self: end;

}


.graphic_design_div {
    background-color: var(--galactic_blue_col);
    width: 354px;
    grid-row: 1 / 3;
    display: flex;

}


.ui_ux_apps_div {
    width: 354px;
    height: 164px;
    display: flex;
    justify-content: space-between;

}


.ui_ux_div {
    background-color: var(--summer_yellow_col);
    width: 164px;
    height: 182px;
    display: flex;

}


.apps_div {
    background-color: var(--pink_col);
    width: 164px;
    height: 182px;
    display: flex;

}


.photography_div {
    background-color: var(--cyan_col);
    width: 354px;
    height: 182px;
    display: flex;

}


.illustrations_div {
    background-color: var(--light_red_col);
    width: 354px;
    height: 158px;
    display: flex;

}


.motion_graphics_div {
    background-color: var(--dark_purple);
    width: 354px;
    height: 158px;
    display: flex;

}



/* grid items images */
.graphic_design_image {
    width: 128px;
    height: 192px;
}


.photography_design_image {
    width: 160px;
    height: 64px;
}


.illustration_design_image {
    width: 128px;
    height: 64px;
}


.motion_graphic_design_image {
    width: 128px;
    height: 64px;

}


.ui_ux_design_image {
    width: 64px;
    height: 64px;
}


.apps_design_image {
    width: 64px;
    height: 64px;
}




.amy_about_section {
    width: 1110px;
    height: 445px;
    margin: 0 165px 80px 165px;
    display: flex;
    justify-content: space-between;
}


.amy_profile_image {
    width: 445px;
    height: 445px;
}


.amy_intro_text_div {
    align-self: center;
    width: 540px;
    height: 306px;
}


.amy_intro_text {
    font-family: 'PlusJakartaSansBold', sans-serif;
    font-size: 40px;
    margin-bottom: 34px;
    line-height: auto;
    letter-spacing: 0px;

}


.amy_experience_text {
    font-family: 'PlusJakartaSansMedium', sans-serif;
    color: var(--medium_brown_col);
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 28px;
}


.free_consultation_div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: var(--light_red_col);
    color: var(--white);
    width: 228px;
    height: 56px;
    align-self: center;
}


.amy_into_free_consultation_text {
    font-family: 'PlusJakartaSansBold', sans-serif;
    font-size: 16px;
}


.my_work_section {
    width: 100%;
    overflow: hidden;
}

.my_work_header {
    font-family: 'PlusJakartaSansBold', sans-serif;
    text-align: center;
    margin-bottom: 56px;    
    font-size: 32px;
}


.work_display_carousal_div {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    margin-bottom: 56px;
}


.image_slide {
    width: 540px;
    height: 360px;
    flex-shrink: 0;
}


.scroll_arrows_div {
    display: flex;
    justify-content: space-between;
    width: 144px;
    height: 64px;
    margin: 0 auto;
    margin-bottom: 96px;
}


.scroll_icon_wrapper {
    background-color: var(--black_col);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}


.left_arrow_icon {
    width: 15px;
    height: 16px;
}


.right_arrow_icon {
    width: 15px;
    height: 16px;
}


.book_call_section {
    background-color: var(--black_col);
    width: 1110px;
    height: 320px;
    margin: 0px 165px 56px 165px;
    padding: 84px 95px 80px 65px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

}


.book_call_div {
    width: 540px;
    height: 159px;
    align-self: center;
}


.free_consultation_text {
    font-size: 16px;
}

.book_call_text {
    font-family: 'PlusJakartaSansBold', sans-serif;
    color: var(--white);
    font-size: 40px;
    margin-bottom: 25px;
}


.discuss_text {
    font-family: 'PlusJakartaSansMedium', sans-serif;
    color: var(--white);
    font-size: 18px;
    line-height: 28px;
}


